form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}
input,
button {
  height: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
